*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.head{
    text-align: center;
}
.container{
    text-align: center;
    background-color:olive;
    height: 60vh;
    width: 60%;
    margin-left: 20%;

}
.Number{
    padding-top: 5%;
    color: white;
}
.text{
    color: white;
    padding-top: 5%;
}
.input{
    font-size: 20px;
    margin-top: 5%;
    height: 20%;
    width: 90%;
    border-radius: 10px;
}
.btn{
    margin-top: 5%;
    width: 50%;
    height: 50px;
    border-radius: 10px;
}